[Unit]
Description=DWeb of Community API Service
After=network.target

[Service]
WorkingDirectory=/home/user/dweb-of-community
ExecStart=/home/user/dweb-of-community/venv/bin/python -m backend --serve-in-foreground
Restart=always

[Install]
WantedBy=multi-user.target
